.img-container li {
  display: inline-block;
  width: 32%;
  padding: 10px;
}

.img-container {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.img-container img {
  width: 80%;
  display: inline-block;
  transition: .25s;
}

.img-container ul li {
  list-style-type: none;
}

.inline-img {
  width: 250px;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  transform: scale(0.95);
  transition: .3s;
  max-width: 35%;
}

.inline-img:hover {
  transform: scale(1);
}

.second-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
